{% extends "paginas/index.html" %}
{% load static %}
{% block conteudo %}
<h3>{{Titulo}}</h3>
<p>

    <table>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Cadastrado em</th>
            <th>Link</th>
            <th>Opções</th>
        </tr>
        {% for bot in object_list %}
        <tr>
            <td>{{ bot.nome }}</td>
            <td>{{ bot.descricao }}</td>
            <td>{{ bot.categoria }}</td>
            <td>{{ bot.cadastrado_em }}</td>
            <td>{{ bot.link }}</td>
            
            <td>
                <a href="#"> Editar </a>
                <a href="#"> Excluir </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
        {% csrf_token %}

        {{ form.as_p }}
</p>
{% endblock conteudo %}