{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar {{ object }}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>

    <main>
        <h2>✍️ Atualizar {{ object }}</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Salvar Alterações">
        </form>

        <div style="text-align: center; margin-top: 20px;">
            <a href="{% url 'index' %}">← Cancelar e voltar</a>
        </div>
    </main>

</body>
</html>