{% extends "paginas/index.html" %}

{% load static %}

<!-- IMPORTAR O CRISPY-->
 {% load crispy_form_tags %}
{% block conteudo %}
<div class="container my-2">

    <h2>{{ titulo }}</h2>

    <form method="POST">
            {% csrf_token %}
        
            {{ form|crispy }}
        
            <button type="submit" class="btn btn-success">
                {{ botao }}
            </button>

            <div style="text-align: center; margin-top: 20px;">
                <a href="{% url 'index' %}">← Cancelar e voltar</a>
            </div>
    </form>

</div>  
{% endblock %}