{% extends "paginas/index.html" %}
{% load static %}

{% block conteudo %}

<div class="container my-2 py-5 text-center">

    <h2>⚠️ Confirmação de Exclusão</h2>

    <br>

    <h4>Você tem certeza que deseja excluir <strong>"{{ object }}"</strong>?</h4>

    <br>

    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Excluir" class="btn btn-danger btn-lg">
    </form>

    <br>

    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'index' %}">← Cancelar e voltar</a>
    </div>

</div>
{% endblock %}